// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	font-size:large;
}
.photo{
	width:260px;
	height:180px;
	margin-bottom:4px;
}

.more{
	float:right;
}

#home_image{
	opacity:0;
}
.thumbnail.span6.photo:nth-of-type(2n+1):not(:first-child){
	margin-left:0px;
}

.photo > label{
	width:100%;
	height:100%;
}