// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	font-size:large;
}
.photo{
	width:260px;
	height:180px;
	margin-bottom:4px;
}

.more{
	float:right;
}

#home_image{
	opacity:0;
}
.thumbnail{
  width: 100px;
  height: 100px;;
}

.thumbnails .photo{
  display:inline-block;
}
.photo > label{
	width:100%;
	height:100%;
}
.wrapper{
  box-sizing: border-box;
  margin: 0px 13px 0 13px;
}
.image_holder{
  height: 175px;
  width: 893px !important;
  border: 1px solid cadetblue;
  overflow: hidden;
  .left_scroller{
    display:none;
    width: 20px;
    height: 100%;
    background: whitesmoke;
  }
  .left_scroller:hover{
    display:inline;
    background: whitesmoke;
  }

   img{
     width:175px;
     height:100%;
     padding: 2px 0px 2px 2px;
     box-sizing: border-box;
   }
}

.upload_button{
  margin-top:8px;
}

